// font
$font: "OpenSans";
$font-family: $font, sans-serif;

// colors
$white: #fff;
$gallery: #f0f0f0;
$alto: #dbdbdb;
$silver-chalice: #a0a0a0;
$red: #f00;
$portage: #8989e7;
$blue: #00f;
$bunting: #161646;
$green: #0f0;


